<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <title>"Karofood"</title>
    </head>

    <body>


    <form class="client-dishlist" style="height: 560px; margin-top: -280px;">
        <div class="menu-form-header">
            <h3 class="menu">Список клиентов</h3>
        </div>

        <div class="menu-table-header" style = "padding-right: 30px; padding-left: 5px;">
            <h4 style = "width: 51%; text-align: left;"> Имя </h4>
            <h4 style = "width: 39%; text-align: left;"> Телефон </h4>
            <h4 style = "width: 10%; text-align: right;"> Заказы </h4>
        </div>

        <div class="menu-form-dishlist" style="height: 360px; padding-right:0px; overflow-y: scroll;">
            <% function mem(table = []) { %>
            <% table.forEach(function(column){ %>
                <% column = Object.values(column) %>
                    <div class='ingredient-title-row a-text' style="cursor: auto;">
                        <div style="width: 50%; text-align: left; padding-left: 5px; padding-top: 3px;">
                            <%= column[0] %>
                        </div>
                        <div style="width: 40%; text-align: left;">
                            +<%= column[1] %>
                        </div>
                        <div style="width: 10%; text-align: right;">
                            <%= column[2] %>
                        </div>
                    </div>    
    
            <% }); %>
            <% }; mem(table[1]) %>  
            

        </div>

        <div class="bottom-buttons">
            <a class="button-menu light link_button a-text" href="/AdminMainPage?admin_id=<%=admin_id%>">
                Вернуться
            </a> 
        </div>
    </form>
</html>

