<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <title>"Karofood"</title>
    </head>

    <body>

        <form method="post" class="full-form" style="height: 280px; margin-top: -140px;" id="full-form">
            <h3 class>Вход в систему</h3>
            <div class="form-login-group" id="person-data" style="padding-bottom: 20px;">
                <div class="form-line-style">
                    <div> Логин </div>
                    <input type="text" name="username" required>
                </div>
                <div class="form-line-style">
                    <div> Пароль </div>
                    <input type="password" name="password" minlength="4" required>
                </div>
            </div>


        
            <div class="bottom-buttons">
                <a class="button-menu light link_button a-text" href="/RegOrLoginPage">
                    Вернуться
                </a> 
                <button type="submit" class="button-menu dark">
                    Войти
                </button>
            </div>
        </form>
    
</html>

